%h2= title "Edit page"

= form_for @page, :url => admin_page_path(@page) do |f|
  - if @page.errors.any?
    %div.errorExplanation
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg
  = render :partial => "form", :locals => { :f => f }
  %p= f.submit "Update"
