%p
  = f.label :label
  = f.text_field :label
%p
  = f.label :latitude
  = f.text_field :latitude
%p
  = f.label :longitude
  = f.text_field :longitude
%p
  = f.check_box :current
  = f.label :current
