%article
  %h2
    = title "Locations"
    = link_to "+", new_admin_location_url, :class => "action"

  %table
    %thead
      %tr
        %th Label
        %th Latitude
        %th Longitude
        %th Current
    %tbody
      - @locations.each do |location|
        %tr
          %td= location.label
          %td= location.latitude
          %td= location.longitude
          %td= "yes" if location.current
          %td
            = link_to "Edit", edit_admin_location_path(location)
            = link_to "Delete", admin_location_path(location), :method => :delete, :confirm => "Are you sure you want to delete this location?"
