!!! XML
%urlset{ :xmlns => 'http://www.sitemaps.org/schemas/sitemap/0.9' }
  / Feed
  %url
    %loc= posts_url(:atom)
    %changefreq weekly
    %lastmod= @posts.last.updated_at.to_time.xmlschema # @posts are sorted by updated_at in the controller
    %priority 0.9
  / General
  %url
    %loc= root_url
    %changefreq weekly
    %lastmod= @last_update.to_time.xmlschema
    %priority 0.9
  %url
    %loc= search_url(:q => "")
    %changefreq yearly
    / no last mod
    %priority 0.3
  / Pages
  - @pages.each do |page|
    %url
      %loc= "#{root_url}#{page.permalink}"
      %changefreq monthly
      %lastmod= page.updated_at.to_time.xmlschema
      %priority 0.5
  / Posts
  - @posts.each do |post|
    %url
      %loc= "#{posts_url}/#{post.permalink}"
      %changefreq monthly
      %lastmod= post.updated_at.to_time.xmlschema
      %priority 0.5
