%p
  = f.label :title
  = f.text_field :title
%p
  = f.label :permalink
  = f.text_field :permalink
%p
  = f.label :author
  = f.text_field :author
%p
  = f.label :location_id
  = f.select :location_id, @location_names, { :include_blank => true }
%p
  = f.label :content
  = f.text_area :content
