= form_for comment, :url => comments_path(comment) do |f|
  - if comment.errors.any?
    %div.errorExplanation
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
  %table
    %tbody
      %tr
        %th= f.label :author
        %td= f.text_field :author, :placeholder => "Optional"
      %tr
        %th= f.label :mail
        %td= f.text_field :mail, :placeholder => "Optional"
      %tr
        %th= f.label :url
        %td= f.text_field :url, :placeholder => "Optional"
  %div
    = f.label :content
    = f.text_area :content, :placeholder => "Required"
  =f.hidden_field :post_id, :value => @post.id
  %button Send
