%article
  %div#column2
    - if @post.old?
      %p.old This article was posted over one year ago, the information may no longer be acurate.
    %h2= title @post.title
    = @post.message.html_safe
%aside
  %h2 Meta
  %ul
    %li
      posted
      %abbr{ :title => @post.created_at.iso8601 }
        = time_ago_in_words(@post.created_at)
        ago
    %li
      freshness
      %abbr{ :title => @post.updated_at.iso8601 }
        = time_ago_in_words(@post.updated_at)
        ago
    %li
      from
      %abbr.geo{ :title => "#{@post.location.latitude};#{@post.location.longitude}" }
        = @post.location.label
    %li
      tags
      %span= @post.tags.join(", ")
  - if @comments.any?
    %h2= pluralize @comments.count, "comment"
    = render :partial => "posts/comment", :collection => @comments
  %h2 Something to say?
  - if @post.comments_open?
    = render :partial => "posts/comment_form", :locals => { :comment => @comment }
  - else
    %p Comments for this post are closed, you darn spambots.
