!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title= yield(:title)
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'coderay'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'rails'
    = csrf_meta_tag
    = auto_discovery_link_tag(:atom, posts_url(:format => :atom), :title => "#{APP_CONFIG['title']}'s feed")
    %link{ :rel => 'shortcut icon', :href => '/favicon.ico' }
    %link{ :rel => 'apple-touch-icon', :href => '/apple-touch-icon.png' }
    %link{ :rel => 'search', :type => 'application/opensearchdescription+xml', :title => APP_CONFIG['title'], :href => 'opensearch.xml' }
    %meta{ :name => 'ICBM', :content => "#{@last_location.latitude}, #{@last_location.longitude}" }
    %meta{ :name => 'DC.Title', :content => yield(:title) }
    %meta{ :name => 'DC.Creator', :content => APP_CONFIG['author'] }
    %meta{ :name => 'DC.Language', :content => APP_CONFIG['language'] }
    %meta{ :name => 'DC.Format', :content => 'text/html' }
    %meta{ :name => 'DC.Rights', :content => APP_CONFIG['policies_url'] }
  %body
    %header
      = render :partial => 'layouts/header'
    %nav
      = render :partial => 'layouts/navigation'
    / TODO Where does the flash go?
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = yield
    %footer
      = render :partial => 'layouts/footer'
